.Mentor {
  /* background-color: rgb(180, 111, 111);*/
  background-color: var(--dark-blue);
  max-width: 340px;
  min-height: 460px;
  margin: 0 auto;
  margin-bottom: 10rem;
  border-radius: 30px 4px 30px 5px;
  box-shadow: 0px 19px 20px -10px rgba(0, 0, 0, 0.45);
  position: relative;
  padding-bottom: 2rem;
}

.Mentor__image {
  width: 100%;
  border-radius: 30px 4px 0 0;
}

.Mentor__name {
  color: var(--white);
  font-size: 3rem;
  font-weight: 400;
  background-color: var(--dark-blue);
  padding: 1rem;
  display: inline;
  border-radius: 50px;
  position: relative;
  top: -2rem;
}

.Mentor__job {
  color: var(--pink);
  font-style: italic;
  margin-bottom: 3.6rem;
}

.Mentor__text {
  font-style: italic;
  margin-bottom: 1.4rem;
}

.Mentor__time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.1rem;
}

.Mentor__time > p {
  margin-left: 1rem;
  font-weight: 700;
}

.Mentor:after {
  content: url("../assets/separator.png");
  position: absolute;
  right: 25%;
  bottom: -6rem;
}

@media screen and (min-width: 768px) {
  .Mentor {
    flex-shrink: 0;
  }
}
