.menu {
  display: none;
}

.menu__item > a {
  color: var(--black);
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.burger {
  width: 2.4rem;
  text-align: center;
}

.fa-bars {
  font-size: 2.4rem;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .menu {
    display: block;
    display: flex;
  }

  .menu__item + .menu__item > a {
    border-left: 1px solid var(--black);
    padding-left: 0.5rem;
  }

  .burger {
    display: none;
  }
}
